.devise--header{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  background: pink;
  .devise--header__block{
    .devise--header__block__upper{
      height: 50px;
      text-align: center;
      line-height: 50px;
      .devise--header__logo{
        min-width: 140px;
        max-width: 140px;
        width: 140px;
        height: 33px;
      }
    }
    .devise--header__block__lower{
      height: 50px;
      color: powderblue;
    }
  }
}