.devise--header
  .devise--header__block
    .devise--header__block__upper
      =link_to root_path do
        = image_tag "skill_share_logo.png", class: "devise--header__logo"
    .devise--header__block__lower