.resist--wrapper
  =render "/layouts/header"
  .resist--main
    .resist--main__box
      .resist--main__box__block
        .resist--main__box__block__pagination
          %li.resist--main__box__block__pagination__number 1
          %span.resist--main__box__block__pagination__bar ー
          %li.resist--main__box__block__pagination__number 2
          %span.resist--main__box__block__pagination__bar ー
          %li.resist--main__box__block__pagination__color 3
        .resist--main__box__block__title
          %head.resist--main__box__block__title__text 新規登録
        .resist--main__box__block__contents
          .resist--main__box__block__contents__message
            %p.resist--main__box__block__contents__message__text 本登録ありがとうございます
            %span.resist--main__box__block__contents__message__text 登録が完了しました
          .resist--main__box__block__contents__words
            .resist--main__box__block__contents__words__text さっそくログインしてスキルを出品・購入してみましょう。
          .resist--main__box__block__contents__link
            %a.resist--main__box__block__contents__link__text(href="tops/index") トップページ戻る
  =render "/layouts/footer"