.detapage
  .detapage__colums
    .detapage__colums__main
      .detapage__colums__main__header
        .serviceDetailTitle
          .c-heading
            .c-heading_row
              .c-heading_overview_c-overview
                %h1.heading-name
                  %p.heading-name_subtitle
                    Ruby on Railsでの開発相談乗ります
                  %p.heading-name_subtitle__text
                    Rails歴4年の現役プログラマーが相談に乗ります！
                .c-heading_labels
              .c-performance
                .c-performance_row
                  .c-performance_item_c-performance_rating
                    .c-performance_label
                    評価
                    .c-performance_content
                      %span.c-rating
                        = icon('fas', 'star', class: 'staricon')



            .detapage__colums__main__header__c-serviceDetailTitle
