.header{
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ccc;
  background: powderblue;
  .header__main{
    &__inner{
      justify-content: space-around;
      position: relative;
      display: flex;
      margin: 0 auto;
      padding: 0 20px;
      height: 60px;
      align-items: center;
      background-color: pink;
      &__search{
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        .input-box {
          display: flex;
        }
        &__txt{
          border: 1px solid #666;
          width: calc(100% - 36px);
          padding: 5px;
          margin-left: 25px;
        }
        &__btn{
          background-color: #3CCACE;
          width: 36px;
          height: 38px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1.2em;
          &--display{
            display: none;
          }
        }
      }


      // &__search{
      //   margin-left: auto;
      //   width: 100%;

        // margin-left: 24px;
        // min-width: 360px;
        // max-width: 360px;
        // width: 360px;
      //   .form_search{
      //     width: 100%;
      //     display: flex;
      //     margin-bottom: 5px;
        
      //     .head__in__up__search__btn--display{
      //       width: 36px;
      //       border: 0;
      //       cursor: pointer;
      //       background-color: #3CCACE;
      //       padding: 8px;
      //     }
      //   }
      // }
      .header-main-logo{
        min-width: 140px;
        max-width: 140px;
        width: 140px;
        height: 33px;
        }
      }


    
      
      
      &__inner__nav__right{
        padding: 0 16px 0 16px;
          ul.box{
            display: flex;
            justify-content: space-between;
            background-color: rgb(255, 255, 255);
            bottom: 0px;
            left: 200px;
            top: 0px;
            line-height: 30px;
            cursor: pointer;
            text-align: left;
              a{
                text-decoration: none;
                color:#000;
              }
              li{
                padding: 0 0 0 16px;
                &:hover {
                  background-color: skyblue;
                  a {
                    text-decoration: none;
                    color: #fff;
                  }
                }
              }
          }
      }
    }
      .header_main_inner_box{

    }

  
  .header__sub{

  }
}