.detapage {
  padding: 0;
  max-width: 100%;
  font-size: 14px;
  background-color: yellowgreen;
  // height: 500px;
  .detapage__colums {
    .detapage__colums__main {
      display: contents;
      .detapage__colums__main__header {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 12px;
        -webkit-box-ordinal-group: 21;
        -ms-flex-order: 20;
        order: 20;
        .serviceDetailTitle {
          box-sizing: border-box;
          .c-heading {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            .c-heading_row {
              .c-heading_overview_c-overview {
                box-sizing: border-box;
                h1.heading-name {
                  p.heading-name_subtitle {
                    font-size: 17px;
                    line-height: 24px;
                  }
                  p.heading-name_subtitle__text {
                    font-size: 12px;
                  }
                }
                .c-heading_labels {
                  margin-bottom: 12px;
                }
              .c-performance {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                .c-performance_row {
                  display: flex;
                  .c-performance_item_c-performance_rating {
                    display: inline-block;
                    margin-right: 20px;
                    line-height: 1;
                    .c-performance_label {
                      margin-right: 4px;
                      padding: 4px 8px 5px;
                      font-size: 12px;
                      display: inline-block;
                      background: #f3f3f3;
                    }
                    .c-performance_content {
                      display: inline-block;
                      top: 1px;
                      position: relative;
                      
                    }
                  }
                }
              }
              
              .detapage__colums__main__header__c-serviceDetailTitle {
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
              }

            }
          }
        }
      }
    }
  }
}
//評価の場所//
.c-performance {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  .c-performance_row {
    display: flex;
    .c-performance_item_c-performance_rating {
      display: inline-block;
      margin-right: 20px;
      line-height: 1;
      .c-performance_label {
        margin-right: 4px;
        padding: 4px 8px 5px;
        font-size: 12px;
        display: inline-block;
        background: #f3f3f3;
      }
      .c-performance_content {
        display: inline-block;
        top: 1px;
        position: relative;
        .staricon {
          color: yellow;
        }
      }
    }
    //販売実績//
    .c-perfomance_item_c-performance_seles{
      display: inline-block;
      margin-right: 20px;
      line-height: 1;
      .c-performance_label {
        margin-right: 4px;
        padding: 4px 8px 5px;
        font-size: 12px;
        display: inline-block;
        background: #f3f3f3;
      }
      .c-perfomance_content {
        display: inline-block;
        top: 1px;
        position: relative;
      }
    }
      //残り//
    .c-perfomance_item_c-performance_stock{
      display: inline-block;
      margin-right: 20px;
      line-height: 1;
      .c-performance_label {
        margin-right: 4px;
        padding: 4px 8px 5px;
        font-size: 12px;
        display: inline-block;
        background: #f3f3f3;
      }
      .c-perfomance_content {
        display: inline-block;
        top: 1px;
        position: relative;
      }
    }
  }

  .c-perfromance_row {
    margin-top: 4px; 
  }
}

.staricon {
  color: yellow;
}

// 写真の場所
.detapage__colums__main__Photo {
  background: white;
  width: 700px;
  margin: auto;
  padding: 24px 40px 24px;
  margin-top: 10px;
  .detapage__colums__main__Photo-img{
    text-align: center;
    .photo-img-show {
      width: 560px;
      height: 346px;
      object-fit: cover;
    }
  }
}
.detapage__colums__main__Photo__sub {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .detapage__colums__main__Photo__sub-img {
    
    .sub-list{
      width: 100%;
      height: 87px;
      object-fit: cover;
    }
  }
}

.detapage__colums__main__content {
  margin-bottom: 20px;
  .detapage__colums__main__content__box {
    padding: 0 40px;
    .detapage__colums__main__content__box__name {
      font-size: large;
      .detapage__colums__main__content__box__name__data {
        font-size: small;
      }
    }
  }
}

.detapage__colums__main__details {
  width: 100%;
  margin: 0 auto;
  .detapage__colums__main__details__box {
    margin: 0 auto;
    width: 90%;
    .detapage__colums__main__details__box__praice {
      margin: 0 auto;
      width: 100%;
      table {
        margin:  0 auto;
        
        th {
          text-align: center;
          letter-spacing: 0.05em
        }
          .pri {
            width: 50px;
          }
        td {
          padding: 0 3px;
          letter-spacing: 0.05em
        }
          .sonota {
            height: 90px;
            }
          }
      }
    }
  }
}

// ライン風１
// /*******************************
// * left
// ********************************/

// .left_balloon {
//   position: relative;
//   background: #fff;
//   border: 1px solid #777;
//   margin: 10px;
//   padding: 10px;
//   border-radius: 15px;
//   margin-right: 20%;
//   clear: both;
//   max-width: 500px;
//   float: left;

//   &:after, &:before {
//     right: 100%;
//     top: 50%;
//     border: solid transparent;
//     content: " ";
//     height: 0;
//     width: 0;
//     position: absolute;
//     pointer-events: none;
//   }

//   &:after {
//     border-color: rgba(255, 255, 255, 0);
//     border-right-color: #fff;
//     border-width: 7px;
//     margin-top: -7px;
//   }

//   &:before {
//     border-color: rgba(0, 0, 0, 0);
//     border-right-color: #000;
//     border-width: 8px;
//     margin-top: -8px;
//   }
// }

// /*******************************
// * right
// ********************************/

// .right_balloon {
//   position: relative;
//   background: #85e249;
//   border: 1px solid #777;
//   margin: 10px;
//   padding: 10px;
//   border-radius: 15px;
//   margin-left: 20%;
//   clear: both;
//   max-width: 500px;
//   float: right;

//   &:after, &:before {
//     left: 100%;
//     top: 50%;
//     border: solid transparent;
//     content: " ";
//     height: 0;
//     width: 0;
//     position: absolute;
//     pointer-events: none;
//   }

//   &:after {
//     border-color: rgba(133, 226, 73, 0);
//     border-left-color: #85e249;
//     border-width: 7px;
//     margin-top: -7px;
//   }

//   &:before {
//     border-color: rgba(119, 119, 119, 0);
//     border-left-color: #777;
//     border-width: 8px;
//     margin-top: -8px;
//   }
// }

// /*******************************
// * clear
// ********************************/

// .clear_balloon {
//   clear: both;
// }

// .comment_area {
//   margin-bottom: 20px;
// }

// /*******************************
// * 改行
// ********************************/

// .new_line {
//   white-space: pre-line;
// }








  // 依頼ボタン
.detapage__colums__main__buy {

}

// ライン風２
// 入力・送信ボタン
.container {
  width: 60%;
  margin: 30px auto;
  // 青色エリア
  .chat-area {
    height: 80vh;
    background: #8DB4E5;
    overflow: scroll;
    // メッセージエリア
    /* 入力した文字を表示する部分 */
   .chat-message {
      max-width: 300px;
      border-radius: 20px;
      padding: 10px 30px;
      background: #61E739;
      color: #001A32;
      font-weight: bold;
    }
  }
  .message-area {
    height: 10vh;
    display: flex;
    .message-area-text {
      width: 80%;
    }
    .message-area-button {
      width: 20%;
    }
  }
    /* テキストエリアはリサイズをできなくして、横幅いっぱいに表示 */
  .message-area-text textarea {
    width: 100%;
    height: 100%;
    resize: none; /* これでユーザーのリサイズをできなくする */
    border: 1px solid #ddd; /* 枠線をつけて領域を分かりやすく */
    box-sizing: border-box; /* borderを付けてるので、border込の大きさにする */
  }
    // ボタンの装飾
  .message-area-button button {
    width: 100%;
    height: 100%;
    background: #61E739;
    color: #fff;
    font-size: 2.0rem;
    font-weight: bold;
    border: 0;
   }
}





