
* {
  box-sizing: border-box;
  font-family: "游ゴシック体","YuGothic","メイリオ","Meiryo","Source Sans Pro","Helvetica","Arial";
}




@import "reset";
@import "modules/header";
@import "modules/tops";
@import "modules/footer";
@import "registrations/header";
@import "registrations/session";
@import "registrations/new";
@import "skill/skills_show";
@import "font-awesome-sprockets";
@import "font-awesome";

.waper {
  display: flex;
  height: 100vh;
}

